@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body{
	margin: 0;
	padding: 0;
	width: 1440px;
}

header{
	position: relative;
	width: 100%;
	height: 780px;
	background-color: #fff;
}

.site-title{
	margin-top: 18%;
	margin-left: 33%;
	width: 35%;
}
header h2{
	margin-top: -35%;
	margin-left: 20%;
	width: 60%;
}

.top-link{
	position: absolute;
	top: 2%;
	left: 2%;
	width: 10%;
}

header p{
	position: absolute;
	top: 26%;
	left: 6%;
	font-family: 'Helvetica','Helvetica Neue','Tw Cen MT','Arial';
	font-size: 16px;
	font-weight: lighter;
	color: #000;
	letter-spacing: 5px;
}

.container{
	width: 100%;
	height: 2450px;
	background-color: #fff;
}

.img-01{
	float: left;
	margin-left: 10%;
}

.img-02{
	float: left;
	margin-left: 10%;
}

.img-03{
	margin-left: 70%;
}

.img-04{
	float: left;
	margin-top: 10%;
	margin-left: 10%;
}

.img-05{
	float: left;
	margin-top: 10%;
	margin-left: 10%;
}

.img-06{
	margin-top: 10%;
	margin-left: 70%;
}

.img-07{
	float: left;
	margin-top: 10%;
	margin-left: 10%;
}

.img-08{
	float: left;
	margin-top: 10%;
	margin-left: 10%;
}

.img-09{
	margin-top: 10%;
	margin-left: 70%;
}

.img-10{
	float: left;
	margin-top: 10%;
	margin-left: 10%;
}

.img-11{
	float: left;
	margin-top: 10%;
	margin-left: 10%;
}

.img-12{
	margin-top: 10%;
	margin-left: 70%;
}

.img-13{
	float: left;
	margin-top: 10%;
	margin-left: 10%;
}

.img-14{
	float: left;
	margin-top: 10%;
	margin-left: 10%;
}

.img-15{
	margin-top: 10%;
	margin-left: 70%;
}

.img-16{
	margin-top: 10%;
	margin-left: 10%;
	float: left;
}

.img-17{
	margin-top: 10%;
	margin-left: 10%;
	float: left;
}

.img-18{
	margin-top: 10%;
	margin-left: 70%;
}

footer{
	width: 100%;
}

footer img{
	margin-top: 3%;
	margin-left: 80%;
	width: 10%;
}

footer p{
	margin-left: 85%;
	font-family: 'Helvetica','Helvetica Neue','Tw Cen MT','Arial';
	font-size: 16px;
	font-weight: lighter;
	color: #000;
	letter-spacing: 5px;
	display: block;
}

footer small{
	margin-top: 0%;
	font-family: 'Helvetica','Helvetica Neue','Tw Cen MT','Arial';
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 5px;
	color: #000;
	text-align: center;
	display: block;
}

footer small span{
	color: #438CB5;
}
